@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

body { /*Organizando a formatação do corpo do site e definindo a fonte principal*/
    font-family: 'Open-Sans', sans-serif;
    margin:0px;
    box-sizing:border-box;
}

.container { /*Medida do espaço do conteúdo do site*/
    width:1140px;
    margin:auto;
}

.bar {
    background-color:#006341;
    width:168px;
    height:22px;
}

header .line { /*Aplicando cor e altura para a linha superior no site*/
    background-color:#117050;
    height:10px;
}

.botton {
    display:inline-block;
    border:2px solid #454545;
    padding:10px 30px;
    border-radius:3px;
    color:#454545;
    text-decoration:none;
}

.botton:hover {
    background-color:#454545;
    color:#fff;
}

.header--area { /*Conteúdos do cabeçalho espaçados até a extremidade na horizontal e na vertical centralizados*/
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100px;
}

.header--left img { /*Tamanho da logo*/
    height:64px;
    width:64px;
}

.header--right { /*Conteúdo flexivel em linha e centralizado na vertical*/
    display:flex;
    align-items:center;
}

.header--search form { /*Conteúdo da área da pesquisa flexível*/
    display:flex;
}

.header--search input { /*Definindo tamanho da fonte, espaçamento entre os elementos e borda*/
    font-size:16px;
    padding:10px 15px;
    border:1px solid #999;
    outline:0;
    width:100%;
    max-width:250px;
}

.header--search button { /*Definindo as caracteristicas do botão e colocando ele dentro do input search*/
    border:0;
    background:transparent;
    margin-left:-30px;
    cursor:pointer;
}

.header--search button img { /*Tamanho da imagem da lupa*/
    width:16px;
    height:16px;
}

.header--menu { /*Tamanho da área do menu*/
    margin-left:50px;
    cursor:pointer;
}

.header--menu img { /*Tamanho da imagem do menu*/
    width:24px;
    height:24px;
}

.banner { /*Imagem de fundo, seu tamanho e espaçamento*/
    background-image: url('../images/bg.jpg');
    background-position:center;
    background-size:cover;
    padding-top:90px;
    padding-bottom:90px;
}

.banner h1 { /*Font, tamanho e peso do texto. Espaçamento entre as palavras, espaçamento entre conteúdo*/
    font-size:96px;
    font-family:'Oswald', sans-serif;
    font-weight:bold;
    line-height:100px;
    margin:0;
    margin-bottom:40px;
}

.banner--images { /*Espamento entre as imagens e o conteúdo de cima*/
    margin-top:60px;
}

.banner--images img { /*Tamnho, larguma, borda e arredondamento das imagens. Espaçamento entre uma imagem e outra*/
    height:160px;
    width:160px;
    border:6px solid #117050;
    border-radius:50%;
    margin-right:40px;
}

.area1 { /*Criando grid. Três colunas*/
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}

.area1--content { /*Espaçamento entre os conteúdos*/
    padding:80px;
}

.area1--quote { /*Espaçamento entre o texto e o conteúdo de baixo*/
    margin-bottom:30px;
}

.area1--text { /*Espaçamento entre o espaçamento do texto com o conteúdo de baixo. E o espaçamento entre as linhas do texto*/
    margin-bottom:50px;
    line-height:25px;
}

.area1--content h2{ /*Tipo, tamanho e peso da fonte. Espaçamento entre os conteúdos e entre as linhas do texto */
    font-size:35px;
    font-family:'Oswald', sans-serif;
    font-weight:bold;
    margin:0;
    line-height:40px;
    margin:20px 0;
}

.area1--img1 { /*Imagem, altura e posicionamento da imagem*/
    background-image:url(../images/f2.jpg);
    background-size:cover;
    background-position:center;
    height:350px;
}

.area1--img2 { /*Imagem, altura e posicionamento da imagem. Local preenchido no grid*/
    grid-column:2 / 3;
    grid-row:1 / 3;
    background-image:url(../images/f1.jpg);
    background-size:cover;
    background-position:center;
}

.area2 { /*Criando grid. Três colunas*/
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}

.area2--content { /*Espaçamento entre os conteúdos*/
    padding:80px;
}

.area2--text { /*Espaçamento entre o espaçamento do texto com o conteúdo de baixo. E o espaçamento entre as linhas do texto*/
    margin-bottom:50px;
    line-height:25px;
}

.area2--content h2{ /*Tipo, tamanho e peso da fonte. Espaçamento entre os conteúdos e entre as linhas do texto */
    font-size:35px;
    font-family:'Oswald', sans-serif;
    font-weight:bold;
    margin:0;
    line-height:40px;
    margin:20px 0;
}

.area2--img1 { /*Imagem, altura e posicionamento da imagem*/
    background-image:url(../images/f4.jpg);
    background-size:cover;
    background-position:center;
    height:450px;
}

.area2--img2 { /*Imagem, altura e posicionamento da imagem. Local preenchido no grid*/
    grid-column:1 / 2;
    grid-row:1 / 3;
    background-image:url(../images/f3.jpg);
    background-size:cover;
    background-position:center;
}

/* Terceira Area */

.area3 { /*Criando grid. Três colunas*/
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}

.area3--content { /*Espaçamento entre os conteúdos*/
    padding:210px 80px;
    background-image:url(../images/bg2.jpg);
    background-size:cover;
    background-position:left;
}

.area3--text { /*Espaçamento entre o espaçamento do texto com o conteúdo de baixo. E o espaçamento entre as linhas do texto*/
    margin-bottom:50px;
    line-height:25px;
}

.area3--content h2{ /*Tipo, tamanho e peso da fonte. Espaçamento entre os conteúdos e entre as linhas do texto */
    font-size:35px;
    font-family:'Oswald', sans-serif;
    font-weight:bold;
    margin:0;
    line-height:40px;
    margin:20px 0;
}

.area3--img1 { /*Imagem, altura e posicionamento da imagem*/
    background-image:url(../images/f5.jpg);
    background-size:cover;
    background-position:center;
}

.area4 { /*Criando grid, duas colunas e cor do fundo*/
    display:grid;
    grid-template-columns:450px 1fr;
    background-color:#e8e9ee;
}

.area4--content { /*Espaçamento entre os conteúdos*/
    padding:150px 80px;
}

.area4--content h2{ /*Tipo, tamanho e peso da fonte. Espaçamento entre os conteúdos e entre as linhas do texto */
    font-size:35px;
    font-family:'Oswald', sans-serif;
    font-weight:bold;
    margin:0;
    line-height:40px;
    margin:20px 0;
}

.area4--text { /*Espaçamento entre o text e conteúdo, assim como espaçamento entre as linhas do texto*/
    margin-bottom:50px;
    line-height:25px;
}

.area4--img1 { /*Imagem de fundo e posicionamento do mesmo*/
    background-image:url(../images/bg3.jpg);
    background-position:left;
}

.area5 {
    background-image:url(../images/bg4.jpg);
    background-size:cover;
    background-position:center;
    height:600px;
}

footer {
    background-color:#333;
    color:#fff;
    padding:80px;
    text-align:center;
}

footer a {
    color:#a8f8dd;
    text-decoration:none;
    font-weight:bold;
}